#header .btn {
    margin: 0px 10px 0px 10px;
}

.container-fluid {
    padding: 0;
}

.top-section {
    border-bottom: 1px solid #b1d5d9;
}

.user-image-padding {
    padding-right: 10px;
}

.btn-theme-color {
    background-color: #7952B3;
    color: #fff;
}