<h3>Quiz</h3>
<label>{{quiz[questionCount].questions}}</label>



<div *ngFor="let option of quiz[questionCount].choices.split(','); let i = index">
    <label>
        <input id="opt{{i}}" name="options" type="radio" [value]="option" [(ngModel)]="selectedOption" />
        {{option}}
    </label>
</div>
<br>
<p>Selected Answer: {{selectedOption}}</p>
<br>
<p>Correct Answer: {{quiz[questionCount].answer}}</p>

<h3>Validation: {{quiz[questionCount].answer == selectedOption}}</h3>




<button type="button" [disabled]="questionCount === 0" class="btn btn-primary"
    (click)="previousBtnHandler()">Previous</button>
<button type="button" [disabled]="questionCount === quiz.length-1" class="btn btn-primary"
    (click)="nextBtnHandler()">Next</button>

<!-- <button type="button" class="btn btn-primary" (click)="submitBtnHandler()">Submit</button> -->