<div class="row quiz-section">
    <div class="col-9 columns">
        <h3>Quiz</h3>
        <div class="card  border-dark">
            <div class="card-header">
                <!-- <label><b>{{questionCount+1}}.&nbsp;</b>{{quiz[questionCount].questions}}</label> -->
                <h6 class="card-title">{{questionCount+1}}.&nbsp;{{quiz[questionCount].questions}}</h6>
            </div>
            <div class="card-body">
                <div class="rows">
                    <div class="options" *ngFor="let option of quiz[questionCount].choices.split(','); let i = index">
                        <div class="col-1 columns">
                            <span class="icons" *ngIf="i==quiz[this.questionCount].selectedOptionSeqNo ">
                                <i class="bi bi-check right" *ngIf="quiz[this.questionCount].validation == 'Y'"
                                    style="font-size: 21px;color:green;"></i>
                                <i class="bi bi-x wrong" *ngIf="quiz[this.questionCount].validation == 'N'"
                                    style="font-size: 21px;color:red"></i>
                            </span>
                        </div>
                        <div class="col-8 columns">
                            <!-- [disabled]="!checkUndefinedOrNullOrEmptyString(quiz[this.questionCount].validation)" -->
                            <label>
                                <input id="opt{{i}}" name="options" type="radio" [value]="option"
                                    [(ngModel)]="selectedOption" (change)="optionChanged(i)" />
                                <span>{{option}}</span>
                            </label>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card-footer">
                <div class="row justify-content-md-center">
                    <div class="col-3 columns">
                        <button type="button" [disabled]="questionCount === maxQuestionCount-40" class="btn btn-primary"
                            (click)="previousBtnHandler()">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                class="bi bi-chevron-double-left" viewBox="0 0 16 16">
                                <path fill-rule="evenodd"
                                    d="M8.354 1.646a.5.5 0 0 1 0 .708L2.707 8l5.647 5.646a.5.5 0 0 1-.708.708l-6-6a.5.5 0 0 1 0-.708l6-6a.5.5 0 0 1 .708 0z" />
                                <path fill-rule="evenodd"
                                    d="M12.354 1.646a.5.5 0 0 1 0 .708L6.707 8l5.647 5.646a.5.5 0 0 1-.708.708l-6-6a.5.5 0 0 1 0-.708l6-6a.5.5 0 0 1 .708 0z" />
                            </svg>Previous</button>
                    </div>
                    <div class="col-3 columns">
                        <button type="button" [disabled]="questionCount === maxQuestionCount-1" class="btn btn-primary"
                            (click)="nextBtnHandler()">Next<svg xmlns="http://www.w3.org/2000/svg" width="16"
                                height="16" fill="currentColor" class="bi bi-chevron-double-right" viewBox="0 0 16 16">
                                <path fill-rule="evenodd"
                                    d="M3.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L9.293 8 3.646 2.354a.5.5 0 0 1 0-.708z" />
                                <path fill-rule="evenodd"
                                    d="M7.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L13.293 8 7.646 2.354a.5.5 0 0 1 0-.708z" />
                            </svg></button>
                    </div>

                    <div class="col-3 columns">
                        <button type="button" class="btn btn-primary" (click)="submitBtnHandler()">Submit <svg
                                xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                class="bi bi-check2" viewBox="0 0 16 16">
                                <path
                                    d="M13.854 3.646a.5.5 0 0 1 0 .708l-7 7a.5.5 0 0 1-.708 0l-3.5-3.5a.5.5 0 1 1 .708-.708L6.5 10.293l6.646-6.647a.5.5 0 0 1 .708 0z" />
                            </svg></button>
                    </div>
                    <div class="col-3 columns">
                        <button type="button" class="btn btn-primary" (click)="completePracticeBtnHandler()">Complete
                            Practice</button>
                    </div>
                </div>
            </div>
        </div>
        <!-- *ngIf="i==quiz[this.questionCount].selectedOptionSeqNo" -->
        <!-- <p>Selected Answer: {{selectedOption}}</p>
        <br>
        <p>Correct Answer: {{quiz[questionCount].answer}}</p>

        <h3>Validation: {{validation}}</h3> -->
        <br />
        <div class="row justify-content-md-center">
            <div class="col-9 quiz-paginate">
                <div class="d-flex flex-row">
                    <div *ngFor="let n of numSequence(10);" (click)="qnoBtnHandler(n)" class="qno-btn flex-fill">
                        {{n+1}}
                    </div>
                </div>
                <div class="d-flex flex-row">
                    <div *ngFor="let n of numSequence(20);" (click)="qnoBtnHandler(n)" class=" qno-btn  flex-fill">
                        {{n+1}}
                    </div>
                </div>
                <div class="d-flex flex-row">
                    <div *ngFor="let n of numSequence(30);" (click)="qnoBtnHandler(n)" class=" qno-btn  flex-fill">
                        {{n+1}}
                    </div>
                </div>
                <div class="d-flex flex-row">
                    <div *ngFor="let n of numSequence(40);" (click)="qnoBtnHandler(n)" class=" qno-btn  flex-fill">
                        {{n+1}}
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-3 columns">
        Ad Section
    </div>
</div>