<div class="row quiz-section">
    <div class="col-9 columns">
        <h3>Quiz</h3>
        <div class="card  border-dark">
            <div class="card-header">
                <!-- <label><b>{{questionCount+1}}.&nbsp;</b>{{quiz[questionCount].questions}}</label> -->
                <h6 class="card-title">{{questionCount+1}}.&nbsp;{{quiz[questionCount].questions}}</h6>
            </div>
            <div class="card-body">
                <div class="rows">
                    <div class="options" *ngFor="let option of quiz[questionCount].choices.split(','); let i = index">
                        <div class="col-1 columns">
                            <span class="icons" *ngIf="i==quiz[this.questionCount].selectedOptionSeqNo ">
                                <i class="bi bi-check right" *ngIf="quiz[this.questionCount].validation == 'Y'"
                                    style="font-size: 21px;color:green;"></i>
                                <i class="bi bi-x wrong" *ngIf="quiz[this.questionCount].validation == 'N'"
                                    style="font-size: 21px;color:red"></i>
                            </span>
                        </div>
                        <div class="col-8 columns">
                            <!-- [disabled]="!checkUndefinedOrNullOrEmptyString(quiz[this.questionCount].validation)" -->
                            <label>        
                                <input id="opt{{i}}" name="options" type="radio" [value]="option" [(ngModel)]="selectedOption"
                                    (change)="optionChanged(i)" />
                                <span>{{option}}</span>
                            </label>
                        </div>
                    </div>
                </div> 
            </div>
            <div class="card-footer">
                <div class="row">
                    <div class="col-3 columns">
                        <button type="button" [disabled]="questionCount === maxQuestionCount-40" class="btn btn-primary"
                        (click)="previousBtnHandler()"> < Previous</button>
                    </div> 
                    <div class="col-3 columns">
                        <button type="button" [disabled]="questionCount === maxQuestionCount-1" class="btn btn-primary"
                    (click)="nextBtnHandler()">Next > </button>
                    </div> 
                    <div class="col-3 columns">
                        <button type="button" class="btn btn-primary" (click)="submitBtnHandler()">Submit</button>
                        <button type="button" class="btn btn-primary" (click)="completePracticeBtnHandler()">Complete Practice</button>
                    </div>
                </div>
            </div>
        </div>
        <!-- *ngIf="i==quiz[this.questionCount].selectedOptionSeqNo" -->
        <!-- <p>Selected Answer: {{selectedOption}}</p>
        <br>
        <p>Correct Answer: {{quiz[questionCount].answer}}</p>

        <h3>Validation: {{validation}}</h3> -->
        <br/>
        <div class="row">
            <div class="col-9 quiz-paginate">
                <div class="d-flex flex-row">
                    <div *ngFor="let n of numSequence(10);" (click)="qnoBtnHandler(n)" class="qno-btn flex-fill">
                        {{n+1}}
                    </div>
                </div>
                <div class="d-flex flex-row">
                    <div *ngFor="let n of numSequence(20);" (click)="qnoBtnHandler(n)" class=" qno-btn  flex-fill">
                        {{n+1}}
                    </div>
                </div>
                <div class="d-flex flex-row">
                    <div *ngFor="let n of numSequence(30);" (click)="qnoBtnHandler(n)" class=" qno-btn  flex-fill">
                        {{n+1}}
                    </div>
                </div>
                <div class="d-flex flex-row">
                    <div *ngFor="let n of numSequence(40);" (click)="qnoBtnHandler(n)" class=" qno-btn  flex-fill">
                        {{n+1}}
                    </div>
                </div>
            </div>            
        </div>
    </div>
    <div class="col-3 columns">
        Ad Section
    </div>
</div>