.btn {

    margin-left: 10px;
    margin-right: 10px;
}



.quiz-section {
    height: 600px;
}

.qno-btn {
    border-radius: 15px;
    background: #dce6eb;
    width: 40px;
    margin: 5px;
    text-align: center;
    cursor: pointer;
    user-select: none;
    /* Standard syntax */
}

.right-answer {
    background: #3cd73c;
}

.wrong-answer {
    background: #eb4a59;
}

.not-answered {
    background: #ffc107;
}

.need-to-attend {
    background: grey;
}

.icons {
    position: absolute;
}

.options label {
    margin-left: 2%;
}