<div class="home-section">
  <div class="container">
    <div class="row ">
      <div class="">
        <div>
          <h2>Welcome to the Practice hub!</h2>
          <p>Practice hub.AI is a platform for practicing your skills in a variety of subjects.</p>

        </div>
      </div>
    </div>
    <div class="row ">
      <div *ngFor="let sub of subjects" class="col-4">
        <div class="card text-dark bg-light">
          <div class="card-body">
            <div class="row">
              <div class="sub-card-description">Excel through our AI Power Packed Practice Questions.
                {{sub.description}}
              </div>
              <div class="col-9 subject-col">
                <div class="subject-card-text"> {{sub.Subject}}</div>


              </div>
              <div class="col-3 question-count-col">
                <!-- {{animateCount}} -->
                <div class="subject-card-text"> {{sub.questionLength}} </div>
              </div>
            </div>

          </div>
        </div>
      </div>

    </div>
  </div>

</div>
<div>{{animateCount}}</div>