
<div class="home-section">
    <div class="jumbotron">
        <h1>Welcome to the Practice hub!</h1>
        <p>Practice hub.AI is a platform for practicing your skills in a variety of subjects.</p>
    </div>
</div>
<div class="row">
    <div class="col-sm-3">
        <div class="card">
            <div class="card-header">
              Mathematics
            </div>
            <div class="card-body">
              <!-- <h5 class="card-title">Maths </h5> -->
              <p class="card-text">Our AI-powered platform that provides students with a unique learning experience by offering a wide range of multiple-choice questions in Maths.</p>
              <a href="#"   class="btn btn-primary disabled">Go to practice <sup>Coming soon</sup></a>
            </div>
        </div>
    </div>
    <div class="col-sm-3">
        <div class="card">
            <div class="card-header">
              Physics
            </div>
            <div class="card-body">
              <!-- <h5 class="card-title">Special title treatment</h5> -->
              <p class="card-text">AI-powered multiple-choice questions for physics, designed to enhance students' learning experience and deepen their understanding of the subject.</p>
              <a href="#" class="btn btn-primary disabled">Go to practice <sup>In progress</sup></a>
            </div>
        </div>
    </div>
    <div class="col-sm-3">
        <div class="card">
            <div class="card-header">
              Chemistry
            </div>
            <div class="card-body">
              <!-- <h5 class="card-title">Special title treatment</h5> -->
              <p class="card-text">AI-generated multiple-choice questions in chemistry, empowering them to master the subject through interactive and engaging practice.</p>
              <a href="#" class="btn btn-primary disabled">Go to practice  <sup>Coming soon</sup></a>
            </div>
        </div>
    </div>
    <div class="col-sm-3">
        <div class="card">
            <div class="card-header">
              Biology
            </div>
            <div class="card-body">
              <!-- <h5 class="card-title">Special title treatment</h5> -->
              <p class="card-text"> AI-generated multiple-choice questions in biology, equipping students with interactive learning tools to strengthen their understanding.</p>
              <a href="#" class="btn btn-primary disabled">Go to practice  <sup>Coming soon</sup></a>
            </div>
        </div>
    </div>
</div>
